#title-div {
  background-color: rgb(210, 238, 109);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding-left: 1rem;
}

h1 {
  color: rgb(55, 59, 34);
}
